html{
    text-transform: uppercase;
    font-family: 'Baloo Chettan', cursive;
    font-size: 18px;
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid{
    height: auto;
}

nav.navbar.navbar-dark.bg-dark {
    padding-left: 5rem;
}

.navbar > img{
    width: 15%;
}

input#gif-input {
    text-transform: uppercase;
}

.card{
    margin: 20px;
}

.form-control{
    margin-top: 37px !important;
    color: blueviolet !important;
}
.btn-outline-success{
    margin-right: 60px;
    margin-top: 60px !important;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 6px;
}
.output-area{
    margin-top: 20px;
}

#buttons-view{
    background-color: rgb(233, 75, 75);
    height: auto;
    min-height: 100vh;
    float: left;
    padding: 25px;
}

.row{
    margin-right: -30px !important;
}

.instructions {
padding-left: 2rem;
}

.gif-area{
    background-color: rgb(61, 209, 209);
    padding: 1.5rem;
}

#gif-view{
    padding: 20px;
    height: 100vh;
    display: contents;
}

.gif-btn{
    margin: 10px;
    background-color: rgb(115, 199, 47);
    color: white;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 6px;
    border-style: none;
}
.divGif{
    display: inline;
}

.card-body>p {
    font-size: 14px;
    /* width: min-content; */
}
    
span:hover + .hovering {
    display: block;
  }

#footer{
    background-color: darkslategray;
    text-align: center;
    padding: 20px;  
    color: blueviolet;
    width: auto;
    bottom: 0;
    position: relative;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {

    /* body{
        margin-right: -15px;
    } */

    .navbar > img{
        width: 80%;
    }

    nav.navbar.navbar-dark.bg-dark {
        padding: 15px;
    }

    .btn-outline-success {
        margin-right: 0;
        margin-top: 15px!important;
        padding: auto;
    }

    div#buttons-view {
        padding: 10px;
        min-height: fit-content !important;
    }

}
